* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* go to typography */
/* === go to colors === */
/* saturation */
/* brightness */
/* === go to subAtoms === */
/* === go to subAtoms === */
/* === go to colors === */
/* saturation */
/* brightness */
/* === go to subAtoms === */
/* === go to subAtoms === */
h1 {
  color: #bf7540;
  font-size: 3.79259rem;
  font-weight: 700;
  margin-bottom: .5em;
  line-height: .8em;
  text-align: center;
}

h1 + p {
  font-size: 2.84444rem;
  font-weight: 400;
}

.secondary-title {
  padding-top: 15vw;
}

h2 {
  color: #40bf75;
  text-align: center;
  font-size: 2.84444rem;
  font-weight: 700;
  /* margin-bottom: 1.5em; */
  line-height: .8em;
  padding: 2em 0;
}

h3 {
  color: #bf7540;
  font-size: 2.84444rem;
  margin-bottom: .5em;
}

p, textarea, figcaption, label, input, textarea, li {
  color: #bf7540;
  font-size: 2.13333rem;
  margin-bottom: .5em;
}

a, textarea, figcaption {
  line-height: 1.5em;
  width: clamp(45ch, 50%, 75ch);
}

p {
  line-height: 1.6em;
}

.subtitle {
  font-size: 2.13333rem;
  font-weight: 700;
}

blockquote {
  color: #bf7540;
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: .5em;
}

blockquote ::before {
  content: '"';
}

blockquote ::after {
  content: '"';
}

a {
  color: #bf7540;
  font-size: 2.13333rem;
  text-decoration: none;
}

a:hover {
  color: #ac7853;
}

a :active {
  color: white;
  background-color: #bf7540;
}

a :focus {
  color: #ac7853;
  background-color: #bf7540;
}

.logo {
  height: 40px;
}

.logo__main {
  height: 20px;
  margin-right: 1vw;
}

button {
  padding: .5em 1.5em .5em 1.5em;
  margin-top: 2.5rem;
  border: none;
  border-radius: 5px;
  font-size: 2.13333rem;
  color: #bf7540;
  transition: 300ms;
}

button :hover {
  color: #ac7853;
}

button :active {
  color: white;
  background-color: #bf7540;
}

button :focus {
  color: #ac7853;
  background-color: #bf7540;
}

a {
  text-decoration: none;
}

.iconSmall {
  height: 20px;
}

.iconMed {
  height: 40px;
}

.iconBig {
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 1em;
}

.logo {
  display: flex;
}

.logo__main {
  height: 20px;
  margin-right: 15px;
}

.logo__name {
  font-size: 2.13333rem;
  font-weight: 700;
  color: #bf7540;
  line-height: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #bf7540;
  padding: 3em 0 2em;
}

.card__img {
  border-radius: 50%;
  height: 16vw;
  width: 16vw;
  margin: 0 auto;
}

.card__tittle {
  font-size: 2.84444rem;
  font-weight: 700;
  color: #bf7540;
  margin: 2em auto 1em;
}

.card__txt {
  font-size: 2.13333rem;
  color: #bf7540;
  margin: 0 1em;
}

ul {
  display: grid;
  margin-left: 1vw;
}

ul li {
  list-style-type: none;
  margin: .5em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.form-field {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space;
}

.form-field__label {
  padding-left: .25em;
}

.form-field__input {
  outline: 1px solid #bf7540;
  padding: .5em 0 .5em .25em;
  border: 0.5px solid #bf7540;
}

.form-field__txt {
  border: 0.5px solid #bf7540;
}

.form-field__txt:focus {
  outline: 1.5px solid #bf7540;
}

.form-field__btn {
  margin: .25em 0 0 40%;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-link__icon {
  height: 30px;
  margin: 0 .5em;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 3em;
  width: 10vw;
  background-color: #8c7d73;
  position: fixed;
  inset: 0 auto 0 0;
  scroll-padding: 1rem 0 1rem;
}

.aside__link {
  margin: 1.5em 0;
}

:root {
  font-size: 10px;
}

.header__main {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background: url(/img/home1.jpeg);
  background-size: cover;
}

.header__main-title {
  text-align: left;
}

.header__secondary {
  background: url(../../loremMaterials/placeholderImg.jpg);
}

.header__secondary-title {
  padding: 1em 0;
}

.header__secondary-title {
  font-size: 1.6rem;
}

.header__superior {
  display: flex;
  justify-content: space-between;
}

.header__left {
  padding-left: 2vw;
  display: flex;
  justify-content: space-between;
}

.header__center {
  padding-top: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center;
}

.header__right {
  width: 25vw;
  padding-right: 2vw;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.header__nav {
  display: none;
}

.header__placeholderBurger {
  height: 30px;
  background-color: white;
}

.header__cart {
  background-color: white;
  height: 20px;
}

main {
  margin-bottom: 60vw;
}

footer {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  background-color: #4d4d4d;
  padding: 5vh 5vw;
}

footer p, footer a, footer address {
  font-size: 1.6rem;
  color: white;
}

footer a {
  margin: 0 2vw;
}

.footer__map {
  display: none;
}

.footer__social {
  display: flex;
}

.footer__social-icon {
  height: 20px;
}

.article {
  margin: 5vh 0;
}

.article__img {
  height: 16vw;
  width: 16vw;
  object-fit: cover;
  margin: 2em 0;
}

.banner {
  display: grid;
  place-items: center;
  width: 100vw;
}

.banner__store {
  margin: 10vh 0 5vh;
  background: url(/img/home2.jpeg);
  background-size: cover;
}

.banner__team {
  margin: 10vh 0 5vh;
  background: url(/img/home3.jpg);
  background-size: cover;
}

.banner__about {
  margin-top: 10vh 0 5vh;
  background: url(/img/home4.jpeg);
  background-size: cover;
}

section {
  padding: 5vh 0;
}

section__content {
  padding: 0  7.5vw;
}

section__img {
  height: 16vw;
  width: 16vw;
  object-fit: cover;
  margin: 2em 0;
}

.section__CTA {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60vw;
}

.our__story {
  margin: 2vh 5vw 10vh;
}

.our__banner {
  width: 100vw;
  height: 20vh;
  object-fit: cover;
}

.our__farmers {
  margin: 0 5vw;
  display: flex;
}

.our__picture {
  height: 30vw;
  width: 30vw;
  margin: 0 5px;
}

.us__list {
  margin: 5vh 5vw 0;
}

.us__div {
  display: flex;
  margin-bottom: 1.5em;
}

.us__txt {
  margin-left: 1em;
}

.us__explanation {
  margin: 0 5vw;
}

.us__p {
  margin: 2em 0;
}

.carousel__all {
  display: flex;
  overflow: hidden;
}

.carousel__img {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  margin: 0 5px;
}

.hot__title {
  margin-bottom: 5vh;
  background: url(/loremMaterials/placeholderImg.jpg);
}

.hot__list {
  display: flex;
  flex-direction: column;
}

.hot__product {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.hot__img {
  width: 40vw;
  height: 40vw;
  margin-bottom: 0;
}

.hot__name {
  padding: 1em 0 .75em;
  font-size: 1.6rem;
}

.hot__description {
  padding: 0 10vw;
  font-size: 1.6rem;
}

.hot__cart {
  height: 20px;
  position: relative;
  top: -20vh;
  right: -15vw;
  background-color: white;
}

.hot__twin {
  display: flex;
}

.mealbox {
  /* 
    &__plus{
        background-color: red;
    } */
}

.mealbox__title {
  padding: 3vh 0 5vh;
}

.mealbox__item {
  margin: 5vh 5vw;
}

.mealbox__up {
  display: flex;
}

.mealbox__name {
  font-size: 2.13333rem;
  text-align: center;
}

.mealbox__description {
  font-size: 1.6rem;
  margin: 0 5vw;
  text-align: center;
}

.mealbox__img {
  height: 100%;
  width: 40vw;
  grid-area: img;
  margin-bottom: 1.5vh;
  border-radius: 0 0 10px 0;
}

.mealbox__howmany {
  font-size: 1.6rem;
}

.mealbox__price {
  font-size: 1.6rem;
  grid-area: price;
}

.mealbox__container {
  grid-area: container;
}

.mealbox__note {
  font-size: 2.13333rem;
  text-align: center;
  margin-top: 5vh;
}

.mealbox__option-container {
  display: flex;
  justify-content: space-around;
}

.mealbox__displayed {
  border: 3px solid blue;
  border-radius: 20px;
  overflow: hidden;
}

.works {
  padding: 0 5vw;
}

.works__list {
  display: flex;
}

.works__icon {
  height: 40px;
  margin-right: 1em;
}

.store {
  padding: 0 5vw;
}

.store__banner {
  background: url(/loremMaterials/placeholderImg.jpg);
}

.team {
  padding: 0 5vw;
}

.team__img {
  width: 75vw;
  height: 20vh;
  object-fit: cover;
  margin: 10vh 5vw 5vh;
}

.team__banner {
  background: url(/loremMaterials/placeholderImg.jpg);
}

/* @media screen and (min-width: 768px){
    
} */
/* @media screen and (min-width: 1440px){
    
} */
