button{
    padding: .5em 1.5em .5em 1.5em;
    max-width: 200px;
    background-color: white;
    margin-top: 2.5rem;
    border: 2px solid $complementaryColMuted;
    border-radius: 5px;
    font-size: $f3;
    color: $primaryColSat;
    transition: $transitionDuration;
    :hover{
        color: $primaryColMuted;
    }
    :active{
        color: white;
        background-color: $primaryCol;
    }
    :focus{
        color: $primaryColMuted;
        background-color: $primaryCol;
    }
}