@import '_colorCalculator';


// B&W

$black:             hsl($hue, $sat, $lux);
$grey1:             hsl($hue, $sat, $lux1);
$grey2:             hsl($hue, $sat, $lux2);
$grey3:             hsl($hue, $sat, $lux3);
$white:             hsl($hue, $sat, 100%);

// PRIMARY COLORS

$primaryCol:            hsl($hue, $sat2, $lux2);
$primaryColSat:         hsl($hue, $sat3, $lux2);
$primaryColMuted:       hsl($hue, $sat1, $lux2);

$primaryColDark:        hsl($hue, $sat2, $lux1);
$primaryColDarkSat:     hsl($hue, $sat3, $lux1);
$primaryColDarkMuted:   hsl($hue, $sat1, $lux1);

$primaryColLight:       hsl($hue, $sat2, $lux3);
$primaryColLightSat:    hsl($hue, $sat3, $lux3);
$primaryColLightMuted:  hsl($hue, $sat1, $lux3);


// COMPLEMENTARY

$complementaryCol:            hsl($complementary, $sat2, $lux2);
$complementaryColSat:         hsl($complementary, $sat3, $lux2);
$complementaryColMuted:       hsl($complementary, $sat1, $lux2);

$complementaryColDark:        hsl($complementary, $sat2, $lux1);
$complementaryColDarkSat:     hsl($complementary, $sat3, $lux1);
$complementaryColDarkMuted:   hsl($complementary, $sat1, $lux1);

$complementaryColLight:       hsl($complementary, $sat2, $lux3);
$complementaryColLightSat:    hsl($complementary, $sat3, $lux3);
$complementaryColLightMuted:  hsl($complementary, $sat1, $lux3);