.header{
    
    &__main{
        padding-top: 5vh;
        padding-bottom: 10vh;
        background: url(../img/home1.jpeg);
        background-size: cover;
    }

    &__main-title{
        text-align: left;
        color: white;
    }

    &__secondary{
        background: url(/img/home1.jpeg);
    }

    &__secondary-title{
        padding: 1em 0;
    }

    &__secondary-title{
        font-size: $f2;
    }
    
    &__superior{
        display: flex;
        justify-content: space-between;
    }
    
    &__left{
        padding-left: 2vw;
        display: flex;
        justify-content: space-between;
    }
    
    &__center{
        padding-top: 10vh;
        padding-right: 10vw;
        padding-left: 10vw;
        text-align: center;
    }
    
    &__right{
        width: 25vw;
        padding-right: 2vw;
        display: flex;
        justify-content: space-between;
        width: 25vw;
    }

    &__nav{
        display: none;
    }

    &__placeholderBurger{
        height: 30px;
        background-color: white;
    }
    &__cart{
        background-color: white;
        height: 20px;
    }

    &__CTA{
        color: $complementaryCol;
        font-weight: 500;
        transition: 400ms;
        &:hover{
            background-color: white;
            color: $primaryColSat;
        }
        &:active{
            background-color: white;
            color: $primaryColSat;
        }
        &:active{
            background-color: white;
            color: $primaryColSat;
        }
    }
}

}
