section{
    
    padding: 5vh 0;

    &__content{
        padding: 0  7.5vw;
    }

    &__img{
        height: $imgMed;
        width: $imgMed;
        object-fit: cover;
        margin: 2em 0;
    }
}

.section__CTA{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60vw;
    transition: 400ms;
    &:hover{
        background-color: $complementaryCol;
        color: white;
    }
    &:focus{
        background-color: $primaryColSat;
        color: white;
        border: white;
        transform: scale(1.2);
    }
    &:active{
        background-color: $primaryColSat;
        color: white;
        border: white;
    }

}