.works{
    padding: 0 5vw;
    &__title{
        /* background-color: $complementaryColLightMuted; */
        color: black;
        border-radius: 10px;
        padding: 1em .5em;
        margin-top: 1em;
    }
    &__list{
        display: flex;
    }
    &__icon{
        height: 40px;
        margin-right: 1em;
    }
}

.store{
    padding: 0 5vw;

    &__banner{
        background: url(/img/home1.jpeg);
    }
    &__hero{
        background-color: hsla(0, 0%, 30%, .6);
    }
}

.team {
    padding: 0 5vw;
    overflow: hidden;

    &__img{
        width: $imgBig;
        height: 20vh;
        object-fit: cover;
        margin: 10vh 5vw 5vh;
    }

    &__banner{
        background: url(/img/home1.jpeg);
    }
    &__hero{
        background-color: hsla(0, 0%, 30%, .6);
    }
}