.mealbox{

    &__title{
        padding: 3vh 0 5vh;
        color: $complementaryCol;
    }
    &__item{
        margin: 5vh 5vw;
        /* background-image: linear-gradient(90deg, white, $primaryColLightSat); */
        border-radius: 15px;
        border: 3px solid $primaryColSat;
    }
    &__up{
        display: flex;
    }
    &__name{
        font-size: $f3;
        text-align: center;
    }    
    &__description{
        font-size: $f2;
        margin: 0 5vw;
        text-align: center;
    }
    &__img{
        height: 100%;
        width: $imgMedPlus;
        grid-area: img;
        margin-bottom: 1.5vh;
        border-radius: 0 0 10px 0;
    }
    &__howmany{
        font-size: $f2;
        color: $primaryColSat
    }
    &__price{
        font-size: $f2;
        grid-area: price;
    }/* 
    &__plus{
        background-color: red;
    } */
    &__container{
        grid-area: container;
    }
    &__note{
        font-size: $f3;
        text-align: center;
        margin-top: 5vh;
        color: $complementaryColDarkMuted;
    }
    &__option-container{
        display: flex;
        justify-content: space-around;
    }
    &__displayed{
        border: 3px solid $complementaryCol;
        border-radius: 20px;
        overflow: hidden;
    }
}

