@media screen and (min-width: 768px) {
    
.header{
    max-height: 15vh;
        &__main{
            padding-bottom: 5vh;
        }

        &__center{
            padding-top: 0;
        }
    }
    .secondary-title{
        padding-top: 0vw;
    }

    .mealbox{
        &__name{
            font-size: $f4;
        }
        &__description{
            font-size: $f3;
        }
    }
}


@media screen and (min-width: 800px){
    .header{
        &__center{
            padding-top: 0;
        }
    }
    
}

@media screen and (min-width: 1200px){
    section{
        padding: 5vh;
    }
    .store__hero{
        padding: 10rem;
    }
    .team__hero{
        padding: 10rem;
    }
    .section__content{
        max-width: 50vw;
        margin: 0 auto;
    }
    .team{
        max-width: 50vw;
        margin: 0 auto;
    }
    .section__CTA{
        margin: 7vh auto 5vh;
    }

    .us__list{
        max-width: 50vw;
        margin: 7.5vh auto;
        padding-left: 15vw;
    }

    .iconMed{
        margin-right: .5vw;
    }
    .us__div{
        margin: 3vh auto;
    }

    .us__explanation{
        max-width: 50vw;
        margin: 0 auto;
    }

    .mealbox{
        &__name{
            font-size: $f3;
        }    
        &__description{
            font-size: $f3;
        }
        &__howmany{
            font-size: $f3;
        }
        &__price{
            font-size: $f3;
        }
        &__note{
            font-size: $f3;
        }
    }
    
    
    
}

@media screen and (width: 1200px){


    .impressum{
        &__title{
            color: $complementaryColDarkMuted;
            margin-bottom: 10vh;
        }
        &__txt{
            color: #4d4d4d;
            font-size: $f2;
            line-height: 2em;
            font-weight: 200;
            max-width: 75ch;
            margin-left: 15vw;
        }
    }

    .footer{
    
        &__social-icon{
            height: 30px;
            width: 30px;
            padding: 10px;
            background-color: white;
            border-radius: 50%;
        }
    }

}